<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/docs.min.css}"/>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>

    <title>首页</title>

</head>

<body>

<header class="navbar navbar-static-top bs-docs-nav" id="top"
        role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button"
                    data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a href="index" class="navbar-brand">Music</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="index">首页</a></li>
                <li><a href="user">学校环境</a></li>
                <li><a href="#">教师风采</a></li>
                <li><a href="#">优秀学员</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a data-action="login" href="login">登录</a></li>
                <li><a href="user">用户名</a></li>
                <li><a data-action="logout" href="logout">退出</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="bs-docs-masthead" id="content" role="main" tabindex="-1">
    <div class="container">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">♫</span>
        <p class="lead">Music 是一所综合的艺术教育教学培训机构,投入大量资金与时间汇聚国内行业顶尖人才,带来最为科学,最为完善,最为现代化的系统化教学。</p>
        <p class="lead">
            <a href="calendar" class="btn btn-outline-inverse btn-lg">预约上课</a>
        </p>
        <p class="version">当前时间：2018-04-26</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>

<!-- footer -->
<div class="clearfix"></div>
<div class="container-fluid ">
    <div class="row">
        <footer class="footer bs-docs-footer">
            <div class="container">
                <div class="text-center">
                    <br/> @2017 呱唧呱唧呱唧呱唧<br/> 技术支持：Rain <br/>
                </div>
            </div>
        </footer>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/docs.min.js}"></script>
</body>
</html>